/* Genearl part */
html {
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 100%; 
    font-family: "Avenir Next";
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
}
h3 {
    font-size: 24px;
    font-family: Superclarendon;
    font-weight: lighter;
    

}
p{
    font-size: 16px;
}
@font-face {
    font-family: 'Marydale';
    src: url('./font-mard/marydale-webfont.woff') format('woff'),
         url('./font-mard/marydale-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
/* p {
    font-size: 1.2rem;
} */
.bgr-flower {
    
    position: absolute;
    opacity: 30%;
    top: 70px;
    right: 0;
    z-index: -1;
    width: 24%;
}
    
.background-image {
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}
.bg {
    background-color: #faf1e6;
}
/* Navagation bar */
.logo-size {
    width: 40px;
    height: auto;
    margin-left: 2em;
}
.nav-right {
    margin-right: 50px;
}
.nav-space {
    padding-right: 30px;
}
.nav-link-font {
    font-size: 0.9rem;
    font-family: Superclarendon;
    font-weight: lighter;
}
.menu-icon {
    font-size: 32px;
}
.menu-icon-space {
    padding: 0 0.75rem;
}
.item-space {
    padding: 0.5rem 1rem;
}
.item-icon-space {
    padding-right: 0.7rem;
}
/* home page */
.row_order {
    flex-direction: row-reverse;
}
.profile_image {
    width: 50%;
    height: 100%;
}
.container-width {
    max-width: 800px;
}
.intro-bg {
    background-color: #b6c868;
}
.about-margin {
    margin: auto;
    
}
.intro-font-sm {
    font-family: Superclarendon;
    font-size: 1rem;
    font-weight: lighter;
    padding-top: 3em;
    color: #faf1e6;
}
.intro-name {
    font-family: Marydale;
    color: #b6c868;
    font-size: 3rem;
}
.intro-font-lg {
    font-family: Marydale;
    font-size: 5em;
    color: #faf1e6;
}
.text_align {
    text-align:center;
}
.profile-text {
    font-family: Verdana;
    font-size: 1rem;
    color: #46947e;
}
.profile-name {
    font-family: 'Bodoni Moda', serif;
    font-size: 4rem;
    color: #46947e;
}

.spece-between-profile {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.intro-heading-font {
    font-family: Superclarendon;
    color:#b6c868;
    font-weight: lighter;
    font-size: 2rem;
}
.heading-font {
    font-family: Superclarendon;
    font-size: 2em;
    font-weight:lighter;
    margin-bottom: 1rem;

}
.sub-heading {
    font-size: 0.5em;
}

.detail-button{
    color: #46947e;
    padding-left: 0px;
    text-decoration: none;
    font-family: Superclarendon;
    font-weight: lighter;
}
.icon-size {
    font-size: 10px;
}
.morework_button {
    font-size: 1.4rem;
    text-decoration: none;
}

.home-intro {
    margin-left: 5em;
}
.position_of_intro {
    
    margin-top: 20vh;
}
.row-spase {
    margin-top: 20vh;
}
.text-top-space {
    margin-top: 100px;
}
.item-wrapper {
    position: relative;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.item-wrapper:hover .item-text {
    color: #ffffff;
    
    
}
.image-darken {
    transition: 1s;
    filter: brightness(15%);
}
.item-text {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width:100%;
    color: gray;
    transition: 1s;   
}
.bottomlabel_space {
    padding-top: 10rem;
}

.first-layer {
    position: relative;
    z-index: 0;
}
.secd-layer {
    position:absolute;
    top: 0;
    left: 0;
}
.third-layer {
    position: absolute;
    top: 1rem;
    left: 5rem;
}
.first-layer::before{
    content: "Responsive Design";
    font-family: "Avenir Next";
    font-weight: lighter;
    color: white;
    transform: rotate(90deg);
    position: absolute;
    top:4em;
    right: -3em;
    font-size: 3em;
    z-index: 2;
}
.trangle_image {
    background: url(./image/orenge.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


/* about page */
.about-bg {
    background-color: white;
}
.highlight {
    color: #eb5e53;
    text-decoration: none;
}
.p-space {
    margin-top: 2em;
}
.intro-text-space {
 max-width: 80%;
 margin-left: auto;
 margin-right: auto;
}
.intro-weight {
    font-weight: bold;
}
.intro-font-size {
    font-size: 1.5em;
}
.introduction-space {
    margin-top: 150px;
    
}
.image-space {
    margin-left: 3rem;
}
.porfile-position {
    width: 35%;
    float: right;
}
.colection-position {
    margin-top: 5em;
    margin-bottom: 5em;
}
.image-collection {
    width: 70%;
    height: 100%;
}
/* contact page */
.mail_scaled {
    transform: scale(1.1);
}
.form_space {
    padding: 0 2rem;
}
.modal_bgr {
    background: #faf1e6;
}
.close_icon {
    text-align: end;
    margin: 1rem;
}
.contact_text {
    text-align: center;
    font-family: verdana;
}
.send_button {
    color: white;
    display: flex; 
    margin: auto;
    border-radius: 5px;
    border:none;
    background: #25555c;
    margin-bottom: 2rem;
    padding: 0 1rem;
}
.heading {
    color: #707070;
}
.send-color {
    background-color: #7E8449;
    border: none;
}
.send-color:hover {
    background-color: #464928;
    border: none;
}
.send-hidden {
    display: none;
}
/* web design page */
.web-position {
    margin: auto;
    margin-top: 5rem;
}

/* product design page */
.lable-position {
    margin: auto;
}
.lable-text {
    font-family: Superclarendon;
    color: white;
    font-weight: lighter;
}
.product-bottom-space{
    margin-bottom: 5rem;
}
.icon-left-space {
    margin-left: 100px !important;
}
.subnav-space {
    margin-top: 13vh;   
}
.sub-nav-space {
    margin-top: revert;
}

.bookcover {
    width: 30%;
    height: 100%;
}

.logo-nail-height {
    max-height: 200px;
}
.dialog-height {
    height: 600px;
}

.dialog-image-space {
    display: block;
    margin: 0 auto;
}
.dialog-border {
    border: none;
}
.dialog-image-math {
    width:80%
}
.dialog-image-monster {
    width:100%;
}
.dialog-image-bookcover {
    width: 50%;
}
.logo-image-math{
    width: 65%;
}
.logo-image-monster {
    width: 72%;
}
.view-item-wrapper {
    position: relative;
    margin-top: 80px;
}
.cursor-point {
    cursor: pointer;
}

/* UX/UI page */
.ux-content-bg {
    background-color: white;
}
.sub-container {
    max-width: 700px;
    margin: 0 auto;   
}
.ux-content-head {
    font-family: Superclarendon;
    color: black;
    font-weight: lighter;
}
.ux-content-sub {
    font-size: 1.2em;
}
.ux-head {
    font-family: Superclarendon;
    color:#faf1e6;
    text-align: center;
}
.ux-sub-head {
    font-family: "Avenir Next";
    color:#faf1e6;
    font-size:1.5em;
    
}
.dicor-words {
    font-family: Superclarendon;
    color: rgb(167, 164, 164);
    font-weight: lighter;
}
.ux_topspace {
    padding-top: 5em;
    margin-bottom: 5rem;
}
.research-image {
    width: 100%;
}
.text-spce {
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.image-spce {
    margin-right:4rem;
}

/* product page */
.orange_trangle_image {
    background: url(./image/orange_trangle.png);
}
.bird_logo_bg {
    background-color: #b6c868;
}
.restaurant_logo_bg {
    background-color: #f3aa33;
}
.brochure_bg {
    background-color: #a55b58;
}
.interface {
    width: 60%;
    height: 100%;
}
.logo-resturant {
    width: 100%;
    height: 100%;
    transform: scale(0.5);
}
/* java page */
.jav-sub-head {
    font-family: "Avenir Next";
    color:#faf1e6;
    font-size:1.5em;
    text-align: center;
}
.button {
    border-radius: 8px;
    border: none;
    margin-left: 4em;
    color:#9cb336;
}
/* media for all */
@media (max-width: 767px) {
    h1 {
        font-size: 1.5em;
    }
    .intro-heading-font {
        font-size: 1.5em;
    }
    .position_of_intro {
        margin-left: 2em;
    } 
    .lable-text {
        font-size: 1.5em;
    }
    .phone-size {
        padding-right: 1em;
        padding-left: 1em;
    }
    .image-collection {
        width:100%;
        height:100%;
    }
    .bookcover {
        width: 70%;
        height: 100%;
    }
    .interface {
        width: 90%;
        height: 100%;
    }
   
    .first-layer::before {
        font-size: 1.5em;
    }
    .intro-font-lg {
        font-size: 1.8rem;
    }
    .heading-font {
        font-size: 1.5em;
    }
  }
  @media (min-width: 992px) {
  .navbar-expand-lg .btn-group {
      display: none;
    }
  }